* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

.Sider {
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}
.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(28, 17, 41, 0.88);
}

.menu {
  height: 92vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.5rem;
}

.themat {
  width: 10px !important;
}
.header {
  display: flex;
  justify-content: space-between;
}

.hamburguer {
  margin-left: 20px;
  font-size: 20px;
}
.modal {
  width: 00px !important;
}
.tutores-modal {
  width: 1100px !important;
}
.accionesmodal {
  width: 400px !important;
}

.Space {
  height: 450px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.input {
  width: 500px !important;
  height: 50px !important;
}

.Inputs {
  display: flex;
  flex-direction: column;
  gap: 10px !important;
  position: relative;
}
.AgregarEstudiante {
  width: 170px !important;
  height: 40px !important;
}
.box-btn {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.icon-estu {
  font-size: 22px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  cursor: pointer;
}

.icon-estu:hover {
  color: blue;
}

.accionesmodal {
  width: 800px !important;
}

.formtab {
  margin-bottom: 120px !important;
}

.Acciones {
  height: auto !important;
  width: 100px !important;
  margin-bottom: 100px !important;
}

.Tabs {
  display: flex;
  justify-content: space-between !important;
}

.tabs-content {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
}

.formbox {
  height: auto !important;
  width: 300px !important;
}

.spacetutor {
  height: 350px !important;
}

.ant-select-selection-item {
  color: black !important;
  font-weight: 800;
}

#Form_FirstFechaEstudiante {
  color: black !important;
  font-weight: bold;
}

.Space-Item2 {
  height: 590px !important;
}
.Space-heiht {
  height: 100px !important;
  padding-bottom: 180px !important;
}

.tableStudent {
  margin-top: 100px !important;
  position: relative !important;
  left: 90px !important;
}

.tableTrue {
  position: relative !important;
  bottom: 230px !important;
  left: 70px !important;
}

.btnDelete {
  font-size: 25px !important;
  color: red !important;
  cursor: pointer;
  position: relative;
  left: 20px !important;
}
